# Python Best Practices
### Best Practices for writing better Python code

<h2>List Comprehensions:</h2><br> List comprehension are better than conventional for loops. It is a shorter way to write for loops but with more speed. Therefore, one should avoid using for loops in python instead use list comprehension.

In [1]:
%%timeit
lst = []
for i in range(100):
    lst.append(i**2)

30.2 µs ± 3.07 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [2]:
%%timeit
lst = [i**2 for i in range(100)]

37.3 µs ± 7.96 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [3]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

Similarly, we have dictionary comprehensions and set comprehension

### Set Comprehension

In [4]:
%%timeit
st = set()
for i in [1,1,1,2,3,4,5]:
    st.add(i)

1.6 µs ± 193 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [5]:
%%timeit
{i for i in [1,1,1,2,3,4,5]}

668 ns ± 135 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Dictionary Comprehension

In [6]:
%%timeit
dct = {}
for i in range(10):
    dct.update({i:i**2})

5.48 µs ± 731 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [7]:
%%timeit
{i:i**2 for i in range(10)}

3.39 µs ± 635 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

<h2>Generator expressions:</h2><br> Use generator where you have to work with large size of data as they save memory.

In [8]:
import sys

In [9]:
lst = [i**10 for i in range(100)]

In [10]:
sys.getsizeof(lst)

904

In [11]:
gen = (i**10 for i in range(100))

In [12]:
sys.getsizeof(gen)

112

<h2>Type Hinting:</h2><br> Specifying the data types and return types helps other programmer to understand your code better. I know, that python is dynamically typed but still specifying data types doesn't change anything, it is only for improving the readability of your code.

In [13]:
def add(x: int,y: int)-> int: 
    return x+y

<h2>Sorting in Python: </h2><br> Python provides two ways to sort an iterable using sort() and sorted(). sort is an inplace algorithm whereas sorted returns a list of sorted elements.
Also, sorted can be applied over any iterable in python whereas sort() is only available with lists in Python.
Now, lets say you have list of tuples where each tuple contains student roll number and their marks.
Your task is to sort the list by their roll no:

In [14]:
lst = [(5, 65), (1,80), (4,90), (2, 67), (3, 99)]

In [15]:
lst.sort()

In [16]:
lst

[(1, 80), (2, 67), (3, 99), (4, 90), (5, 65)]

In [17]:
sorted(lst)

[(1, 80), (2, 67), (3, 99), (4, 90), (5, 65)]

Now, to sort them in decreasing order of their marks

In [18]:
sorted(lst, key=lambda x: x[1], reverse=True)

[(3, 99), (4, 90), (1, 80), (2, 67), (5, 65)]

The argument name reverse as its name implies it sorts in descending order.<br> The key argument takes a function for customized sorting.<br>Here x[1] tells the sort function to arrange the tuples on the basis of the values at index 1 of the tuples.
<br><b>Both key and reverse argument can also be used as arguments in sort() function.</b>

<h2>Copy and Deepcopy:</h2><br> In Python, the objects are passed by reference to the functions. Hence, any change done inside the function is also reflected back.

In [19]:
lst = [[1,2], [3,4], [5,6], [7,8], [9,10]]

In [20]:
def change(l):
    l[0] = [11,12]
    l[1][0] = 20

In [21]:
lst

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [22]:
change(lst)
lst

[[11, 12], [20, 4], [5, 6], [7, 8], [9, 10]]

You can see from above results, that the change function altered the original list.<br>
To avoid such situations we can use copy function

In [23]:
def change(l):
    l = l.copy()
    l[0] = [11,12]
    l[1][0] = 20

In [24]:
lst

[[11, 12], [20, 4], [5, 6], [7, 8], [9, 10]]

In [25]:
change(lst)
lst

[[11, 12], [20, 4], [5, 6], [7, 8], [9, 10]]

<i>Something feels weird right!</i><br>
Well, the copy function creates a shallow copy of the list. Therefore, the nested elements are altered by the change function.<br> To prevent this you should use deepcopy

In [26]:
from copy import deepcopy

In [27]:
def change(l):
    l = deepcopy(l)
    l[0] = [11,12]
    l[1][0] = 20

In [28]:
lst

[[11, 12], [20, 4], [5, 6], [7, 8], [9, 10]]

In [29]:
change(lst)
lst

[[11, 12], [20, 4], [5, 6], [7, 8], [9, 10]]

Using deepcopy we don't have to worry about any change in actual parameters.

<h2>The f-strings:</h2><br>
To make your code, more clean and concise use f-strings instead of other types of formatting.

In [30]:
a = 7
b = 5

In [31]:
print("a = %s b = %s a+b = %s" %(a,b,a+b))

a = 7 b = 5 a+b = 12

In [32]:
print("a = {} b = {} a+b = {}".format(a,b,a+b))

a = 7 b = 5 a+b = 12

Use this instead

In [33]:
print(f"a = {a} b = {b} a+b = {a+b}")

a = 7 b = 5 a+b = 12

<h2>Initializing a list - The Short way:</h2><br>
In many cases, we need to initialize a list with some constant values.

In [34]:
value = 10
length = 10

For this task most of you may have thought of declaring a list and then using for loops appending the value to the list.

In [35]:
lst = []
for i in range(length):
    lst.append(value)

Some of you may have thought of using more efficient list comprehensions.

In [42]:
%%timeit
lst1 = [value for i in range(length)]

1.05 µs ± 118 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

But what if I tell you there is even more efficient way for this task.

In [43]:
%%timeit
lst2 = [value]*length

177 ns ± 20.9 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [41]:
print(lst)
print(lst1)
print(lst2)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

<h2>Improve readability of big numbers:</h2><br>
Python allows us to use underscores '_' to make big numbers more readable.

In [44]:
10_00, 10_000_000_000

(1000, 10000000000)

<h2>Reversing list or strings:</h2><br>
Instead of writing a function every time to reverse a string or a list, slicing can help you to do that just in one line.

In [45]:
lst = [1,2,3,4,5]
string = "Python"

In [46]:
lst[::-1],string[::-1]

([5, 4, 3, 2, 1], 'nohtyP')

<h2>Understand the difference between 'is' and '==' :</h2><br>
There is a slight difference between two.<br>
'is' checks for whether they two variables points to same location or not whereas, "==" checks for whether they have the same value or not.

In [47]:
a = [1,2,3]
b = [1,2,3]

In [48]:
a is b

False

In [49]:
#The result is False both are stored at different locations in memory
id(a), id(b)

(2831656569600, 2831656695360)

In [50]:
a==b

True

In [51]:
c = a

In [52]:
c is a

True

In [53]:
#The above results is True, because both share the same memory location
id(c), id(a)

(2831656569600, 2831656569600)

In [54]:
c==a

True

<h2>Unpacking Iterables:</h2><br>
 Python provides an easier way to unpack iterables using '*' operator.

In [55]:
#unpacking an iterable
name, age, occupation = ["John", "24", "Engineer"]
print(name)
print(age)
print(occupation)

John
24
Engineer

Using * operator we can also unpack and store the multiple values in a variable

In [56]:
a, *b = [1,2,34]

```a``` takes the ```first value``` from the list and ```b``` stores ```rest of the values```

In [57]:
a, b

(1, [2, 34])

If I ask you to print the values of list in a single line,<br>
Then, most of the people will take the below approach.

In [58]:
for i in lst:
    print(i, end=" ")

1 2 3 4 5

while, some of you may have used list comprehension

In [59]:
[print(i, end=" ") for i in lst]

1 2 3 4 5

[None, None, None, None, None]

But the shortest way possible for this task can be done using the iterable unpacking operator (*):

In [60]:
print(*lst)

1 2 3 4 5

<h2>Dictionary merge operator('|'):</h2><br>
This operator was introduced for python 3.9 or greater. This operator allows to merge two dictionaries. If two dictionaries have same key then, the value is updated from right dictionary.

In [61]:
dct1 = {'a':1, 'b':2, 'c':3}
dct2 = {'b':4, 'd':4}

In [62]:
dct1 | dct2

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

As, I am using Python 3.7 therefore, I have got an error

For older versions we achieve this by using dictionary unpacking operator (**): <br>

In [63]:
{**dct1, **dct2}

{'a': 1, 'b': 4, 'c': 3, 'd': 4}

<h2>Dictionary get() function:</h2><br>
 Avoid using the dct[key] syntax for retrieving value from a dictionary. This method throws an exception if the key does not exist in the dictionary.<br><br>
 dct.get(key) methods does not raise an exception instead if the key does not exist we can provide a 2nd argument to this function so that if the key does not exist it will use that value.

In [64]:
dct1 = {'a':1, 'b':2, 'c':3}

In [65]:
dct1['e']

KeyError: 'e'

In [66]:
print(dct1.get('e', 'Key does not exist'))

Key does not exist

<h2>Convert list to string and string to list:</h2><br>
 To convert a list into a single string, use join() function.

In [67]:
#joining the strings by space
" ".join(["Python", "is", "widely", "used", "in", "Data", "Science"])

'Python is widely used in Data Science'

In [68]:
#joining the strings by ','
",".join(["Python", "is", "widely", "used", "in", "Data", "Science"])

'Python,is,widely,used,in,Data,Science'

Converting string to a list can be achieved by split() function. By default, split() function will spit the string by space to split by any other character, we can pass that character in the split function.

In [69]:
string = "Python is widely used in Data Science"
string.split()

['Python', 'is', 'widely', 'used', 'in', 'Data', 'Science']

In [70]:
string = "Python"
list(string)

['P', 'y', 't', 'h', 'o', 'n']

But what if we need to convert a string of list back to a list for example.

In [1]:
string_lst = "[[1,2,3], [4,5,6]]"
print(list(string_lst))

['[', '[', '1', ',', '2', ',', '3', ']', ',', ' ', '[', '4', ',', '5', ',', '6', ']', ']']

The list constructor creates a list of characters from the string. Therefore, we didn't got the result that we wanted.<br><br>
To get the desired result i.e., a list of lists, we need to use json.loads() function.

In [2]:
import json

In [3]:
lst = json.loads(string_lst)

In [4]:
print(lst)
print(type(lst))

[[1, 2, 3], [4, 5, 6]]
<class 'list'>

But, `json.loads()` fails when we use other python literals such as tuples or when we have list of strings instead of list of numbers as above. For eg.,

In [5]:
x = "[['a','b','c'], ['d','e','f']]"

In [ ]:
lst = json.loads(x)

This will cause `JSONDecodeError`.<br> Let's see what will happen if try to convert a string of tuple to python tuple type.

In [8]:
x = "((1,2,3), (4,5,6))"

In [ ]:
lst = json.loads(x)

This will again case `JSONDecodeError`.<br><br>
Now, in order to deal with such cases we can use Python's ast library short for Abstract Syntax Trees. More specifically we will use ast.literal_eval() function which deals with all the python literals.

In [12]:
from ast import literal_eval

In [13]:
x = "[['a','b','c'], ['d','e','f']]"
x_lst = literal_eval(x)
print(type(x_lst))
print(x_lst)

<class 'list'>
[['a', 'b', 'c'], ['d', 'e', 'f']]

In [14]:
x = "((1,2,3), (4,5,6))"
x_tpl = literal_eval(x)
print(type(x_tpl))
print(x_tpl)

<class 'tuple'>
((1, 2, 3), (4, 5, 6))